<div id="documents" class="docView col-md-4" style="display:none">
  <div class="row"> <!-- Temporary facet placement -->
    <div class="col-sm-5 col-md-10">
      <%= render_facet_partials %>
    </div>
  </div>
  <br>
  <%= render documents, :as => :document %>
  <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
</div>
<%= content_tag :div, '', id: 'map', :"data-step" => :"2", :"data-intro" => :" Use the map to zoom to a location with +/- or by holding down [Shift] and dragging your mouse.", data: { map: 'index', 'catalog-path'=> catalog_index_path ,  'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>

<nav id="menu" data-step="1" data-intro="Use this textbox to type in search keywords">
  <div class="menu-pane-toggle-button-container">
    <button aria-label="Results Side Panel" class="menu-link menu-pane-toggle-button">move</button>
  </div>
  <div class="menu-header">
    <div class="navbar-form navbar-left" role="search">
      <%= render_search_bar  %>
    </div>
  </div>
  <div class="menu-results">
    <ul>
      <%= render documents, :as => :document %>
    </ul>
    <% if current_page?('/bookmarks') %>
       <%= link_to t('blacklight.bookmarks.clear.action_title'), clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') }, :class => 'clear-bookmarks btn red darken-1' %>
    <% end %>
  </div>
  <div class="menu-footer">
    <div class="menu-pagination">
      <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
    </div>
  </div>
  <!%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
</nav>
<div class="pull-right">

</div>
